
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -8px;
    margin-top: -8px;
    border-bottom: 1px solid var(--border-header);
    font-family: var(--font-YS-Text); }
    .header__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 40px 0 32px;
      padding: 16px 0 17px 0; }
    .header__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 0 14px 0;
      border-bottom: 3px solid var(--border-red);
      font-size: 14px;
      line-height: 18px;
      color: var(--text-black); }
      .header__menu_collapsed {
        position: relative; }
        .header__menu_collapsed:before, .header__menu_collapsed:after {
          border-right: 2px solid var(--text-black);
          content: '';
          display: block;
          height: 6px;
          position: absolute;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          right: -14px;
          top: 50%;
          width: 0; }
        .header__menu_collapsed:after {
          right: -11px;
          -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
                  transform: rotate(135deg); }
      .header__menu_expanded {
        position: relative; }
        .header__menu_expanded:before, .header__menu_expanded:after {
          border-right: 2px solid var(--text-black);
          content: '';
          display: block;
          height: 6px;
          margin-top: -2px;
          position: absolute;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          right: -14px;
          top: 50%;
          width: 0; }
        .header__menu_expanded:after {
          right: -11px;
          -webkit-transform: rotate(-135deg);
              -ms-transform: rotate(-135deg);
                  transform: rotate(-135deg); }
    .header__pre-name {
      margin-right: 4px;
      font-weight: bold; }
    .header__name {
      font-weight: normal; }
  